{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Header-->
<header class="py-4">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-1 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        {% if current_user.is_anonymous %}
        <h1 class="display-5 fw-bold">Welcome!</h1>
        {% else %}
        <h1 class="display-5 fw-bold">Let's get started!</h1>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<!-- About section-->
<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-10">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <h5 align="center">{{ message }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </div>

  <div class="container px-4" align="center">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-10">
        <br>
        {% if current_user.is_anonymous %}
        <h1>Login or create a new account to begin.</h1>
        {% else %}
        <h1>Welcome, {{ session.first_name }}</h1>
        {% endif %}
        <br>
        <p></p>
        <img src="{{ url_for('static', filename='images/fenway_park_practice.jpg') }}" alt="Fenway Park">
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>

{% endblock %}
